.review-slider {
  position: relative;
  padding: 0 87px;
  @include breakpoint(md) {
    padding: 0 50px;
  }

  @include breakpoint(sm) {
    padding: 0;
  }

  &_light {
    position: relative;
    padding: 0 87px;
    @include breakpoint(md) {
      padding: 0 50px;
    }
    @include breakpoint(sm) {
      padding: 0;
    }

    svg {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    top: 50%;
    z-index: 1;
    background: url("../images/dist/slider_review/slider_arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &:hover {
      opacity: 0.6;
    }

    &:first-child {
      transform: translatey(-50%) rotate(180deg);
      left: 0;
    }

    &:last-child {
      right: 0;
      transform: translatey(-50%);
    }
  }

  svg {
    display: none;
  }

  &__pagination {
    margin-top: 25px;
  }

  &__pagination > li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__pagination > li > button {
    display: block;
    background: none;
    background: var(--secondary-color);
    border: 1px solid #c6cbcd;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 0;

    &.is-active {
      background-color: #c6cbcd;
    }
  }
}
