.blog {
  padding-bottom: 84px;
  @include breakpoint(xl) {
    padding: 50px 0;
  }

  &__card {
    @include breakpoint(md) {
      margin-bottom: 30px;
    }
  }

  &__card-head {
    position: relative;
    margin-bottom: 30px;
  }

  &__img-wrap {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    /* Если разный размер картинок */
    /* height: 100%;
      object-fit: cover;
      object-position: center; */
  }

  &__news-date {
    position: absolute;
    bottom: 25px;
    left: -14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    @include breakpoint(xl) {
      width: 68px;
      height: 68px;
    }
    & span {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 5px;
      @include breakpoint(xl) {
        font-size: 24px;
      }
    }
  }

  &__card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--primary-color);
    margin-bottom: 20px;
    @media (max-width: 1200px) {
      font-size: 18px;
    }
  }

  &__card-link {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
      color: var(--accent-color);
    }
  }

  &__card-desc {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    @include breakpoint(xl) {
      font-size: 14px;
    }
  }

  &__info-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 22px;
  }

  &__info-icon {
    margin-right: 16px;
    width: 32px;
    flex-shrink: 0;
  }

  &__info-block {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 13px;
    color: var(--primary-color);
    @include breakpoint(xl) {
      font-size: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
