.footer {
  padding-top: 80px;

  &__col {
    padding-bottom: 42px;
  }

  &__media-col {
    display: flex;
    flex-direction: column;
  }

  &__desc {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: var(--text-color);
  }

  &__follower-count {
    margin-bottom: 30px;
  }

  &__follower-count .num {
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
  }

  &__follower-count .letter {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__follower-count .cta-txt {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__media-cta {
    padding-right: 10px;
    font-size: 13px;
    font-style: italic;
  }

  &__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__social-item {
    margin-right: 10px;
    list-style-type: none;
    &:last-child {
      margin-right: 0;
    }
  }

  &__social-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &__subscribe {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
  }

  &__send-form {
    text-transform: uppercase;
    padding: 16px;
  }

  &__input {
    flex-grow: 1;
    text-align: center;
  }

  &__send-form {
    flex-grow: 1;
    text-align: center;
  }

  &__col-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__news-card {
    margin-bottom: 20px;
  }

  &__news-card:last-child {
    margin-bottom: 0;
  }

  &__inst-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 13px;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__copyright {
    padding: 15px 0;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    border-top: 1px solid var(--text-color);
    color: var(--primary-color);
  }
}
