.team {
  padding: 84px 0;

  &__cards {
    @include breakpoint(lg) {
      margin-bottom: 30px;
    }
    @include breakpoint(md) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    position: relative;
    &:hover .team__content-block {
      background: linear-gradient(
        360deg,
        rgba(237, 215, 137, 0.9) 0%,
        rgba(233, 130, 131, 0.9) 100%
      );
      position: absolute;
      top: -15px;
      left: -15px;
      transition: 0.4s linear;
      opacity: 1;
      @include breakpoint(md) {
        top: 0px;
        left: 0px;
        background: none;
      }
    }
  }

  &__content-wrap {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &__content-pic {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      rgba(237, 215, 137, 0.9) 0%,
      rgba(233, 130, 131, 0.9) 100%
    );
    opacity: 0;
    @include breakpoint(md) {
      background: none;
      opacity: 1;
    }
  }

  &__content-images {
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint(md) {
      left: 0;
      bottom: 0;
      transform: none;
    }
  }

  &__content-img {
    border-right: 1px solid var(--accent-color);
  }

  &__author {
    text-align: center;
  }

  &__author-name {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__author-work {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }
}
