.container {
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
  max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 var(--gutter);
}

@for $value from 1 through 12 {
  .col-#{$value} {
    width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    margin: 0 var(--gutter);
    .offset-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    }
    .offset-0 {
      margin-left: var(--gutter);
    }
  }

  @include breakpoint(xl) {
    .col-xl-#{$value} {
      margin: 0 var(--gutter);
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    }
    .offset-xl-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    }
    .offset-xl-0 {
      margin-left: var(--gutter);
    }
  }

  @include breakpoint(lg) {
    .col-lg-#{$value} {
      margin: 0 var(--gutter);
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    }
    .offset-lg-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    }
    .offset-lg-0 {
      margin-left: var(--gutter);
    }
  }

  @include breakpoint(md) {
    .col-md-#{$value} {
      margin: 0 var(--gutter);
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    }
    .offset-md-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    }
    .offset-md-0 {
      margin-left: var(--gutter);
    }
  }

  @include breakpoint(sm) {
    .col-sm-#{$value} {
      margin: 0 var(--gutter);
      width: calc(100% / 12 * #{$value} - var(--gutter) * 2);
    }
    .offset-sm-#{$value} {
      margin-left: calc(100% / 12 * #{$value} + var(--gutter));
    }
    .offset-sm-0 {
      margin-left: var(--gutter);
    }
  }
}
